/* === START - PLAYER MEDIAS ================================================ */
button.hd > span[class^="icon-"]{
	background:none;
	width: 24px;
}
.icon-ld:before,
.icon-md:before,
.icon-hd:before {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 110%;
	color:#cc181e;
}
.icon-ld:before { content: 'LD'; margin-right: 0.4em; }
.icon-md:before { content: 'MD'; margin-right: 0.6em; }
.icon-hd:before { content: 'HD'; margin-right: 0.4em; }


[class^="icon-"], [class*=" icon-"]{
	background:transparent url("img/player/icons.svg") no-repeat 0 0;
	display: inline-block;
	height: 18px;
	width: 18px;
	vertical-align: middle;
	margin: 0 5px;
}

.player_bk button:not([disabled]):hover .icon-play { background-position:0 0; }
.icon-play { background-position:0 -20px; }

.player_bk button:not([disabled]):hover .icon-pause { background-position:0 -40px; }
.icon-pause { background-position:0 -60px; }

.player_bk button:not([disabled]):hover .icon-muted{ background-position:0 -80px; }
.icon-muted { background-position:0 -100px; width:21px; }

.player_bk button:not([disabled]):hover .icon-mute{ background-position:0 -120px; }
.icon-mute { background-position:0 -140px; width:21px; }

.player_bk button:not([disabled]):hover .icon-fullScreen{ background-position:0 -160px; }
.icon-fullScreen { background-position:0 -180px; }

.fullscreen_on .player_bk button:not([disabled]):hover .icon-fullScreen{ background-position:0 -200px; }
.fullscreen_on .icon-fullScreen { background-position:0 -220px; }

.player_bk button:not([disabled]):hover .icon-defaultvideo{ background-position:0 -240px; }
.icon-defaultvideo { background-position:0 -260px; }

/* .player_bk button:not([disabled]):hover .icon-loader{ background-position:0 -280px; } */
.icon-loader { background-position:0 -280px; }

.player_bk button:not([disabled]):hover .icon-altvideo{ background-position:0 -320px; }
.icon-altvideo { background-position:0 -340px; }

.player_bk button:not([disabled]):hover .icon-audiodesc{ background-position:0 -360px; }
.icon-audiodesc { background-position:0 -380px; width:30px;}

.player_bk button:not([disabled]):hover .icon-subtitles, .player_bk button.btnSubDisplay_on .icon-subtitles{ background-position:0 -400px; }
.icon-subtitles { background-position:0 -420px; width: 24px; }

.player_bk button:not([disabled]):hover .icon-transcript, .player_bk button.act_on .icon-transcript { background-position:0 -440px; }
.icon-transcript { background-position:0 -460px; }

.display_off {
	display: none;
}
.mediaPlayer{
	display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
iframe.mediaPlayer {
	margin: auto;
}
.player_bk {
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: #494949;
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	margin: auto;
	box-sizing: border-box;
	overflow: hidden;
    display: flex;
    align-items: center;
}
object.resAudio {
	visibility:hidden;
}
.player_bk button {
	border:none;
	padding: 0;
	margin: 0;
	cursor:pointer;
	vertical-align: middle;
	background:transparent;
}

.player_bk img {
	box-shadow:none;
}

.pause,
.play {
	border-right: 1px solid black;
}
.mute,
.muted,
.transcript,
.audiodesc,
.altvideo,
.defaultvideo {
	padding-right: 0;
}
.mute,
.muted{
	border-left: 1px solid black;
}
.player_bk .video_act_on{
	cursor:default;
	opacity: 0.2;
}
.volume_bk {
	width: 3.125em;
	height: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
.volume_value {
	height: 4px;
	border-radius: 20px;
	background-color: #cc181e;
}
.seek_progress {
	width: 13.125em;
	margin-left: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	height: 8px;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
.seek_value {
	width: 0;
	position: absolute;
	top: 0;
	height: 8px;
	border-radius: 20px;
	background-color: #cc181e;
}
.load_progress {
	width: 0;
	background-color: #fff;
	height: 8px;
	border-radius: 20px;
	opacity: 0.2;
}
input[type="range"]  {
	-webkit-appearance: none !important;
	width: 100%;
	background-color: transparent;
	border: none;
	margin: auto;
	transition: all 0.3s ease;
	cursor: pointer;
	position: absolute;
	left: 0;
	cursor: pointer;
	padding: 0;
}
input[type="range"]::-moz-range-track {
	opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	border: none;
	background: none;
}
input[type="range"]::-moz-range-thumb {
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-thumb {
	background: none;
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	color: transparent;
	border: none;
	background: none;
}
input[type="range"]::-ms-fill-lower {
	background: none;
	border: none;
}
input[type="range"]::-ms-fill-upper {
	background: none;
	border: none;
}
input.seek_btn[type="range"] {
	top: -1px;
	height: 10px;
}
input.volume_btn[type="range"] {
	top: -3px;
	height: 10px;
}
.time_bk {
	display:inline-block;
	color: #E7E7E7;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 0.9em;
}
.transcript{
	width: 630px;
	margin: 5px auto 10px;
	padding: 5px;
	border: 1px solid;
	box-shadow: 1px 1px 2px;
	border-radius: 5px 0;
	text-align: left;
}
video {
	box-shadow: 1px 1px 4px;
	display: block;
	margin: 5px auto;
	background: black;
}
ul.btnsLangList .capt,
ul.qualityList .capt{
	display: block;
}
.subBox {
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	bottom: 40px;
	z-index: 1;
}
.subBox_co{
	background: #000;
	box-shadow: 1px 1px 3px #000;
	color: #fff;
	font-size: 1.1em;
}
.subDisplay_off{
	opacity: 0;
	transition: opacity .25s ease-in-out;
}
.subDisplay_on{
	opacity: 1;
	transition: opacity .25s ease-in-out;
}
.subBox.subDisplay_on{
	opacity: 0.7;
}
ul.btnsLangList,
ul.qualityList {
	position: absolute;
	width: 150px;
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 4px;
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    margin-left: -25px;
	bottom: 32px;
	z-index: 2;
}
ul.btnsLangList a,
ul.qualityList a{
	color: #E7E7E7;
	background: transparent;
	display: block;
	padding: 2px 5px;
	border: none;
	cursor:pointer;
	text-decoration: none;
}
ul.btnsLangList.subDisplay_off,
ul.qualityList.subDisplay_off{
	visibility: hidden;
}
ul.btnsLangList a:hover,
ul.btnsLangList a.subSelect_on,
ul.qualityList a:hover,
ul.qualityList a.subSelect_on{
	transition: all .25s ease-in-out;
	color: #333;
	background: rgba(231, 231, 231, 0.87);
}

.altVids_bk {
	display:inline-block;
}
/*Fullscreen Mode*/
.fullscreen_on video,
.fullscreen_on object {
	max-width: none !important;
	max-height: none !important;
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	box-shadow: none;
}
.fullscreen_on .video_bk {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10001;
}
.fullscreen_on .seek_progress {
	flex: 1;
}
.fullscreen_on .subBox {
	z-index: 10001;
	bottom: 35px;
	position: fixed;
}
.loader_bk span {
	display: none;
}
.icon-loader {
  animation: spin 2s infinite linear;
  display: inline-block;
}
/* btn play on screen */
.playOnScreen {
	background: none;
  border: none;
  position: absolute;
	margin-top: 5px;
}
.fullscreen_on .playOnScreen {
	z-index: 10000;
  position: fixed;
  top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
}
.icon-playOnScreen { background-position:0 -20px; }
button.playOnScreen:hover .icon-pauseOnScreen { background-position:0 -60px; }
.fullscreen_on button.playOnScreen:hover .icon-pauseOnScreen { background-position:0 1000px; }
.icon-pauseOnScreen { background-position:0 1000px; }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media (max-width: 650px){ 
	.seek_progress {
		width: 5.125em;
	}
	.volume_bk {
		display: none;
	}
}
@media (max-width: 450px){ 
	.sepTime_bk, .totalTime_bk, .volume_bk, .seek_progress {
		display: none;
	}	
}

/* === STOP - PLAYER MEDIAS ================================================= */