html {
	overflow: auto;
	position:static;
}
body.default {
	background-color: inherit;
}
body #header h1 {
	margin-left: 10px !important;
}
body.default .root{
	height: auto;
	display: block;
}
body.default #main {
	display: block;
}
body.default #content {
	overflow: none;
}
body.default #outline {
	display: none;
}
button.menuBtn, button.backBtn, .hideInfo button.infoBtn, a.copyright, a.colBlockTgleBtn{
	display: none;
}
