/* === START - PLAYER MEDIAS ================================================ */
@font-face {
  font-family: 'fontsmedia';
  src: url('font/fontsmedia.eot?11121778');
  src: url('font/fontsmedia.eot?11121778#iefix') format('embedded-opentype'),
       url('font/fontsmedia.woff2?11121778') format('woff2'),
       url('font/fontsmedia.woff?11121778') format('woff'),
       url('font/fontsmedia.ttf?11121778') format('truetype'),
       url('font/fontsmedia.svg?11121778#fontsmedia') format('svg');
  font-weight: normal;
  font-style: normal;
}
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontsmedia";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 130%; 
 
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-muted:before { content: '\e800'; }
.icon-mute:before { content: '\e801'; }
.icon-fullScreen:before { content: '\e802'; }
/*.icon-small:before { content: '\e803'; }*/
.icon-subtitles:before { content: '\e805'; }
.icon-audiodesc:before { content: '\e806'; margin: 0 0.3em 0 0.1em; font-size: 170%; }
.icon-altvideo:before { content: '\e807'; margin: -0.2em 0 0; font-size: 120%; }
.icon-transcript:before { content: '\e808'; font-size: 120%; }
.icon-play:before { content: '\e809'; }
.icon-pause:before { content: '\e80a'; }
.icon-defaultvideo:before { content: '\e80b'; font-size: 155%; margin: -0.1em 0em 0 0.1em; }
.icon-loader:before { content: '\E80F'; }
.icon-ld:before,
.icon-md:before,
.icon-hd:before {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 120%;
}
.icon-ld:before { content: 'LD'; margin-right: 0.4em; }
.icon-md:before { content: 'MD'; margin-right: 0.6em; }
.icon-hd:before { content: 'HD'; margin-right: 0.4em; }


.player_bk button span{
	color: #BBB;
}
.player_bk button:not([disabled]):hover span,
.player_bk button:not([disabled]).act_on span,
.player_bk button:not([disabled]).btnSubDisplay_on span{
	color: #cc181e;
	text-shadow: 1px 1px 1px #000;
}
.display_off {
	display: none;
}
.mediaPlayer{
	display: flex;
    flex-direction: column;
    position: relative;
}
iframe.mediaPlayer {
	margin: auto;
}
.player_bk {
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: #494949;
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	height: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
	margin: auto;
	box-sizing: border-box;
	overflow: hidden;
    display: flex;
    align-items: center;
}
object.resAudio {
	visibility:hidden;
}
.player_bk button {
	border:none;
	padding: 0;
	margin: 0;
	cursor:pointer;
	vertical-align: middle;
	background:transparent;
}

.player_bk img {
	box-shadow:none;
}

.pause,
.play {
	border-right: 1px solid black;
}
.mute,
.muted,
.transcript,
.audiodesc,
.altvideo,
.defaultvideo {
	padding-right: 0;
}
.mute,
.muted{
	border-left: 1px solid black;
}
.player_bk .video_act_on{
	cursor:default;
	opacity: 0.2;
}
div.volume_bk {
	width: 3.125em;
	height: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
div.volume_value {
	height: 4px;
	border-radius: 20px;
	background-color: #cc181e;
}
div.seek_progress {
	width: 13.125em;
	margin-left: 4px;
	cursor:pointer;
	border: 1px solid black;
	display: inline-block;
	height: 8px;
	border-radius: 20px;
	background-color: #242323;
	box-shadow: inset 0px 4px 4px rgba(0,0,0,.6);
	position: relative;
}
div.seek_value {
	width: 0;
	position: absolute;
	top: 0;
	height: 8px;
	border-radius: 20px;
	background-color: #cc181e;
}
div.load_progress {
	width: 0;
	background-color: #fff;
	height: 8px;
	border-radius: 20px;
	opacity: 0.2;
}
input[type="range"]  {
	-webkit-appearance: none !important;
	width: 100%;
	background-color: transparent;
	border: none;
	margin: auto;
	transition: all 0.3s ease;
	cursor: pointer;
	position: absolute;
	left: 0;
	cursor: pointer;
	padding: 0;
}
input[type="range"]::-moz-range-track {
	opacity: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 11px;
	height: 11px;
	cursor: pointer;
	border: none;
	background: none;
}
input[type="range"]::-moz-range-thumb {
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-thumb {
	background: none;
	border: none;
	position: relative;
	top: 0px;
	z-index: 1;
	width: 10px;
	height: 10px;
	cursor: pointer;
}
input[type="range"]::-ms-track {
	color: transparent;
	border: none;
	background: none;
}
input[type="range"]::-ms-fill-lower {
	background: none;
	border: none;
}
input[type="range"]::-ms-fill-upper {
	background: none;
	border: none;
}
input.seek_btn[type="range"] {
	top: -1px;
	height: 10px;
}
input.volume_btn[type="range"] {
	top: -3px;
	height: 10px;
}
div.time_bk {
	display:inline-block;
	color: #E7E7E7;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 13px;
}
div.transcript{
	width: 630px;
	margin: 5px auto 10px;
	padding: 5px;
	border: 1px solid;
	box-shadow: 1px 1px 2px;
	border-radius: 5px 0;
	text-align: left;
}
video {
	box-shadow: 1px 1px 4px;
	display: block;
	margin: 5px auto;
	background: black;
}
ul.btnsLangList .capt,
ul.qualityList .capt{
	display: block;
}
.subBox {
	position: absolute;
	width: 500px;
	left: 50%;
	margin-left: -250px;
	bottom: 40px;
	z-index: 1;
}
.subBox_co{
	background: #000;
	box-shadow: 1px 1px 3px #000;
	color: #fff;
	font-size: 1.1em;
}
.subDisplay_off{
	opacity: 0;
	transition: opacity .25s ease-in-out;
}
.subDisplay_on{
	opacity: 1;
	transition: opacity .25s ease-in-out;
}
.subBox.subDisplay_on{
	opacity: 0.7;
}
ul.btnsLangList,
ul.qualityList {
	position: absolute;
	width: 150px;
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 4px;
	border: 1px solid black;
	box-shadow: inset 0 1px 0px rgba(255,255,255,.2);
	background: linear-gradient(to bottom, #494949 0%, #434242 31%, #393838 55%, #242323 83%, #1b1a1a 100%, #161515 100%, #0b0b0b 100%); /* W3C */
	border-radius: 5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.3),inset 0 1px 0px rgba(255,255,255,.2);
    margin-left: -25px;
	bottom: 32px;
	z-index: 2;
}
ul.btnsLangList a,
ul.qualityList a{
	color: #E7E7E7;
	background: transparent;
	display: block;
	padding: 2px 5px;
	border: none;
	cursor:pointer;
	text-decoration: none;
}
ul.btnsLangList.subDisplay_off,
ul.qualityList.subDisplay_off{
	visibility: hidden;
}
ul.btnsLangList a:hover,
ul.btnsLangList a.subSelect_on,
ul.qualityList a:hover,
ul.qualityList a.subSelect_on{
	transition: all .25s ease-in-out;
	color: #333;
	background: rgba(231, 231, 231, 0.87);
}

.altVids_bk {
	display:inline-block;
}
/*Fullscreen Mode*/
.fullscreen_on {
	position: static;
}
.fullscreen_on video,
.fullscreen_on object {
	max-width: none;
	z-index: 3;
	position: fixed;
	top: 50%;
	left: 50%;
	box-shadow: none;
}
.fullscreen_on .video_bk {
	position: fixed;
	left: 50%;
	z-index: 3;
	bottom: 20px;
}
.fullscreen_on .is_6_toolsBtn {
	margin-left: -275px;
}
.fullscreen_on .is_5_toolsBtn {
	margin-left: -262.5px;
}
.fullscreen_on .fullscreen_on .is_4_toolsBtn {
	margin-left: -247.5px;
}
.fullscreen_on .is_3_toolsBtn {
	margin-left: -235px;
}
.fullscreen_on .is_2_toolsBtn {
	margin-left: -222.5px;
}
.fullscreen_on .is_1_toolsBtn {
	margin-left: -210px;
}
.fullscreen_on .is_0_toolsBtn {
	margin-left: -197.5px;
}
.fullscreen_on .fullScreen_btn {
	background-position: -1039px 1px;
}
.fullscreen_on .fullScreen_btn:hover {
	background-position: -1079px 1px;
}
.fullscreen_on .subBox {
	z-index: 3;
	bottom: 55px;
}
.fullscreen_bg {
	background: #000000;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.loader_bk span {
	display: none;
}
.icon-loader {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@media (max-width: 650px){ 
	div.seek_progress {
		width: 5.125em;
	}
	div.volume_bk {
		display: none;
	}
}
@media (max-width: 450px){ 
	.sepTime_bk, .totalTime_bk, div.volume_bk, div.seek_progress {
		display: none;
	}	
}

/* === STOP - PLAYER MEDIAS ================================================= */